<!--The content below is only a placeholder and can be replaced.-->



<div class="container">
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div class="blocks" fxFlex = "100%"><app-templates></app-templates></div>
      <!-- <div class="handle handle-row" ngxSplitHandle>
          <i class="material-icons">&#xE25D;</i>
      </div> -->
    </div>
  </div>

<!-- <div >
  <div >
    <app-templates></app-templates>
  </div>
</div> -->



<!-- <div>
  <div style="text-align:center">
    <h1>
      Hello {{title}}!
    </h1>
    <app-hierarchies></app-hierarchies>
  </div>
  <split direction="vertical">
    <split-area [size]="25">
      <app-hierarchytree></app-hierarchytree>
    </split-area>
    <split-area [size]="75">
      <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
    </split-area>
  </split>
</div> -->