<div class="container">
  <div class="col">
    <div class="row no-gutters selection-box">
      <div class="col-6">
        <app-initiatives (onInitiativeChange)="onInitiativeChange($event)"></app-initiatives>
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row no-gutters list-box">
      <div *ngIf="showList()" class="col">
        <div *ngIf="(templates | async); let templates; else loadingStatus">
          <ul *ngIf="loadSuccess() else loadingStatus" class="list-group selection-box">
            <a *ngFor="let template of templates" [routerLink]="['/template', template.id]" class="list-group-item mb-1 list-group-item-action d-flex justify-content-between align-items-center">
              {{ template.name }}
              <span class="badge badge-info">{{ template.language }}</span>
            </a>
          </ul>
        </div>
        <ng-template #loadingStatus>
          <div class="status-text">{{showStatus()}}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<a routerLink="/notification/template" routerLinkActive="active">Nuovo</a>