<div class="container">
  <div class="col">
    <div class="row no-gutters selection-box">
      <div class="col-6">
        <app-initiatives (onInitiativeChange)="onInitiativeChange($event)"></app-initiatives>
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row no-gutters list-box">
      <div *ngIf="isReadyToShowList()" class="col">
        <div *ngIf="(state.templates | async); let templates; else statusRenderer">
          <ul *ngIf="isSuccess() else statusRenderer" class="list-group selection-box">
            <li class="list-group-item list-group-item-info">Templates</li>
            <a *ngFor="let template of templates" [routerLink]="['/template', template.id]" class="list-group-item mb-1 list-group-item-action d-flex justify-content-between align-items-center">
              {{ template.name }}
              <span class="badge badge-info">{{ template.language }}</span>
            </a>
          </ul>
        </div>
        <ng-template #statusRenderer>
          <div class="status-text">{{ getStatusText() }}</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<a routerLink="/notification/template" routerLinkActive="active">Nuovo</a>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" data-keyboard="false" data-backdrop="static" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->