<div class="container">
  <div class="row">
    <div class="col-4" style="padding: 10px;">
      <label for="name">Nome template</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="template.name" />
      <label for="lang">Lingua template</label>
      <input type="text" class="form-control" id="lang" name="lang" [(ngModel)]="template.lang" />
    </div>
    <div class="col-8" style="padding: 10px">
      <ckeditor [(ngModel)]="ckeditorContent" [readonly]="false" (change)="onChange($event)" (ready)="onReady($event)" (focus)="onFocus($event)"
        (blur)="onBlur($event)" debounce="500">
        <ckbutton [name]="'insertImageButton'" [command]="'insertImage'" (click)="onImageButtonClick($event)" [icon]="'/ckeditor/plugins/image2/icons/image.png?t=H8DC'"
          [label]="'Insert Image'" [toolbar]="'forms,1'">
        </ckbutton>
        <ckbutton [name]="'insertAttachmentButton'" [command]="'insertAttachment'" (click)="onAttachmentButtonClick($event)" [icon]="'/ckeditor/icons/attachment.png?t=H8DC'"
          [label]="'Add attachment'" [toolbar]="'forms,2'">
        </ckbutton>
      </ckeditor>
      <form #uploadImageForm method='POST' enctype='multipart/form-data'>
        <label #browseImageFile for="imageFileInput" style="display: none">
        </label>
        <input type="file" name="image" id="imageFileInput" style="display: none" (change)="onImageSelected($event)" />
      </form>
      <form #uploadAttachmentForm method='POST' enctype='multipart/form-data'>
        <label #browseAttachment for="attachmentFileInput" style="display: none">
        </label>
        <input type="file" name="attachment" id="attachmentFileInput" style="display: none" (change)="onAttachmentSelected($event)"
        />
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-8 ">
        <div class="row justify-content-start">
          <button [disabled]="!isTemplateValid()" type="button" class="btn btn-primary" (click)=onTest($event)>Prova Template</button>
          <input type="text" style="width: 80%;" class="form-control" id="test-recipient" name="recipient" [(ngModel)]="testRecipient"
          />
        </div>
      </div>
      <div class="col-4">
        <div style="text-align: right">
          <button type="button" class="btn btn-primary" (click)=onSave($event)>Salva Template</button>
          <button type="button" class="btn btn-primary" (click)=onCancel($event)>Annulla</button>
        </div>
      </div>
    </div>
  </div>
</div>
