<!-- <div>
    <ckeditor [(ngModel)]="ckeditorContent" [readonly]="false" (change)="onChange($event)" (ready)="onReady($event)" (focus)="onFocus($event)"
        (blur)="onBlur($event)" debounce="500">
        <ckbutton [name]="'insertImageButton'" [command]="'insertImage'" (click)="onInsertImage($event)" [icon]="'/ckeditor/plugins/image2/icons/image.png?t=H8DC'"
            [label]="'Insert Image'" [toolbar]="'forms,1'">
        </ckbutton>
    </ckeditor>
    <form enctype="multipart/form-data" action="/upload/image" method="post">
        <label for="image-file" class="custom-file-upload">
            Custom Upload
        </label>
        <input id="image-file" type="file" />
    </form>
    <app-fine-upload-manual-trigger-template>
    </app-fine-upload-manual-trigger-template>
    <div id="fine-uploader-manual-trigger">
    </div>
    <form #uploadImageForm method='POST' enctype='multipart/form-data'>
        <label #browseImage id="clickableLable" for="exampleInput" class="btn btn-default">
            Click me
        </label>
        <input type="file" name="file" multiple="multiple" id="exampleInput" style="display: none" (change)="onFileSelected($event)"
        />
    </form>
</div> -->